
tag {
  color: orangered;
}

tag int {
  color: orangered;
}

hl1 {
  color: blue;
}

op {
  color: #0000FF;
}

kom {
  color: #3CB371;
}

kom op {
  color: #3CB371;
}

kom tag {
  color: #3CB371;
}

kom int {
  color: #3CB371;
}

str {
  color: #808000;
}

str op {
  color: #808000;
}

str int {
  color: #808000;
}

int {
  color: #F08080;
}

sel {
  color: #D2691E;
}
